.main-container{
   background-color: rgb(75, 132, 182); 
   width: 500px;
   margin: auto;
   
}
.header{
   background-color: darkgray;
   width:100%;
   height:70px;
   display: flex;
   justify-content: space-between;
}

.search-input{
   border-radius: 10px;
}


.top-left{
   display: flex;
   gap: 10px;
}